web/about.html
<!DOCTYPE html>
<html>
  <head></head>
  <title>SVA</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1280">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <body>
    <div id="scrollbar">
      <div class="p">
        <div class="v"></div>
      </div>
    </div>
    <div class="nd-header">
      <div class="container">
        <a href="index.html" class="nd-logo">
          <img src="images/logo.png" />
        </a>
        <div class="nd-menu">
          <div class="nd-menu-one">
            <a href="index.html">Homepage</a>
          </div>
          <div class="nd-menu-one is-active">
            <a href="about.html">About</a>
          </div>
          <div class="nd-menu-one">
            <a href="gallery.html">Gallery</a>
          </div>
          <div class="nd-menu-one">
            <a href="shop.html">Shop</a>
          </div>
        </div>
        <div class="nd-socials">
          <div class="title">Social networks</div>
          <div class="nd-socials-wrap">
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/facebook.png" />
              </a>
            </div>
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/behance.png" />
              </a>
            </div>
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/insta.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="container s-wrap">
        <div class="s-title s-hshow">Artistic statement</div>
        <div class="nd-about">
          <div class="nd-about-head">
            <div class="h-1">The&nbsp;Surrealism and Sacred Eroticism</div>
            <div class="h-2">in the Artworks of Oleksandr&nbsp;Serdiuk</div>
          </div>
          <div class="nd-about-text">
            <div class="text-col">
              <p>In the Ukrainian fine art, Oleksandr Serdiuk is known to be a surrealist, conceptualist and a representative of Late Contemporary Art. His creative pursuits are so diverse, and his field of experimentation is so wide that it seems impossible
                to fit the painter's work in the conventional framework of a particular movement art critics could define. The artworks of Serdiuk contain inherent elements of symbolism, surrealism, magic realism, postmodernism, neo- avant-garde etc.</p>
              <p>Serdiuk's surrealistic scenes come out of his shift from the classical tradition of salon painting to depicting subconsciousness. The method chosen by the author is not accidental either. It demonstrates the elevation of spirit over matter,
                the connection between the Universe and a human being; it analyzes dreams, meditative states, the search for the divine Absolute and suggests a dialogue with classics and surrealists. The artist mostly works in the genres of Nu symbolic
                and surreal landscape, but he does not exclude his experiments with volume, creating installations and art objects.</p>
              <p>Oleksandr's surreal landscapes do not come off as aggressive, they are not a riot of color, and as a consequence, they do not put any pressure on the beholder. Scenic artist loops are designed in a calm, mostly blue-gray color scheme. Emotions,
                the original cause of Serdiuk'a creative plan, are hidden behind the symbols of nature monumental grandeur and conscious human serenity that result from his focusing on the inner world. Serdiuk's landscapes return their beholders to the
                magic realm of four elements: fire, water, earth and air. The artist does not put any emphasis on the color or contrast. Instead, he focuses on the texture, color tone, and composition. This is why his paintings are typically perceived
                reflexively.</p>
            </div>
            <div class="text-col">
              <p>The mythological theme felt in the artworks of Oleksandr Serdiuk appeals to the unconscious, which is encoded in the general system of artist's generalizations. The earliest images of collective experience called archetypes are no less important
                in his works. In a broad philosophical context, Oleksandr Serdiuk displays metaphors inherent in classical symbolism. He works with allegories, allusions, and emotions frozen in time.</p>
              <p>Each canvas expresses the freedom from narrow-mindedness, trying to follow the subtlest sensations, which are more characteristic to ancient civilizations, rather than modern humans. Serdiuk uses unusual painting materials in his artworks
                such as fabric, wood, and cardboard in order to triple the number of hidden meanings. His paintings are filled with many details, they often include a fantastic story while keeping a realistic painting technique.</p>
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <div class="nd-author">
                <div class="img">
                  <img src="images/avtr.png" />
                </div>
                <div class="name">Oleksandr Serdiuk
                  <br />2014</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nd-newproj-wrap">
        <div class="container">
          <div class="nd-project-line">
            <div class="nd-project-item">
              <div class="nd-image">
                <img src="images/project-1.png" />
              </div>
            </div>
            <div class="nd-project-item">
              <div class="nd-image">
                <img src="images/project-2.png" />
              </div>
            </div>
            <div class="nd-project-item">
              <div class="nd-image">
                <img src="images/project-3.png" />
              </div>
            </div>
          </div>
          <div class="cont-small">
            <div class="nd-divider"></div>
            <div class="nd-about-text">
              <div class="text-col">
                <p>The artworks of Serdiuk are created in Contemporary Art genre. They reflect feelings of an individual living in the modern world and their current understanding of morality. The creativity of the artist is contemplative, it offers no radical
                  solutions not being existential, and not calling to destruction or self-flagellation. On the contrary, it offers a plunge into the depths of a human soul. It should be noted that Serdiuk'a credo is Awareness. The artist admits that he
                  is able to explain the nature of each image, color, and stroke, as, despite working with the irrational, 'rationality' of the artist is always switched on and is capable of finding capacious artistic expression.</p>
              </div>
              <div class="text-col">
                <p>Oleksandr Serdiuk's Nu paintings are devoid of details and quite symbolic. This artistic technique, i.e. the lack of portretisation, excludes the outrageous, vulgar, pornographic, and immoral which is why a lot of contemporary artists
                  like to use it. Serduk's experiment is on the verge of a revelation of Schiele and neo-tantric connection of male and female. The plasticity of nudity, which is not always embodied in natural but in elegant poses, evokes the memories
                  of ancient statues, as the figures in Serduk's paintings can be effortlessly divided into individual components. The author makes a point not only of the beauty of the female body in its general excellence but also its physical attractiveness
                  (as an integral part of it). With that being said, eroticism still has exclusively sacred character in Serdiuk's artworks, treating a woman as an object of knowledge and admiration.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nd-resume">
        <div class="cont-small s-wrap">
          <div class="s-title s-hshow">RESUME</div>
          <div class="head">Resume</div>
          <div class="nd-resume-blocks">
            <div class="nd-resume-block">
              <div class="l">SE</div>
              <div class="info">
                <div class="item">
                  <div class="year">2004</div>
                  <div class="what">Kiev Modern Art Exhibition
                    <br />Aerography — First award Diploma</div>
                </div>
              </div>
            </div>
            <div class="nd-resume-block">
              <div class="l">RD</div>
              <div class="info">
                <div class="item">
                  <div class="year">2006</div>
                  <div class="what">INTERNATIONAL FESTIVAL OF
                    <br />DOCUMENTARY FILMS"CONTACT"—
                    <br />First award Diploma
                    <br />Art Director — Serdyuk Oleksandr</div>
                </div>
              </div>
            </div>
            <div class="nd-resume-block">
              <div class="l">YUK</div>
              <div class="info">
                <div class="item">
                  <div class="year">2009</div>
                  <div class="what">Grand Prix film festival “Kinoletopis”
                    <br />Kiev Ukraine — First award
                    <br />Art director — Serdyuk Oleksandr</div>
                </div>
                <div class="item">
                  <div class="year">8 November 2009</div>
                  <div class="what">Exhibition "Autumn Podlaska",
                    <br />the Podlasie Opera and Philharmonic
                    <br />Bialystok, Poland</div>
                </div>
                <div class="item">
                  <div class="year">December 2009</div>
                  <div class="what">Polish Salon „Poznaj Zmiany 2009”
                    <br />Poznan, Poland</div>
                </div>
              </div>
            </div>
            <div class="nd-resume-block">
              <div class="l">OL</div>
              <div class="info">
                <div class="item">
                  <div class="year">2010</div>
                  <div class="what">Polish Salon “Poznaj Zmiany”
                    <br />Warsaw, Poland</div>
                </div>
              </div>
            </div>
            <div class="nd-resume-block">
              <div class="l">EKS</div>
              <div class="info">
                <div class="item">
                  <div class="year">2011-2012</div>
                  <div class="what">The exhibition dedicated to the Earth’s
                    <br />Day, Art Kvartira
                    <br />Kyiv, Ukraine</div>
                </div>
                <div class="item">
                  <div class="year">2012</div>
                  <div class="what">Salon des Refuses
                    <br />London, England </div>
                </div>
                <div class="item">
                  <div class="what">The article in ArtInform
                    <br />Kyiv, Ukraine</div>
                </div>
              </div>
            </div>
            <div class="nd-resume-block">
              <div class="l">AN</div>
              <div class="info">
                <div class="item">
                  <div class="year">2014</div>
                  <div class="what">“Arka” Gallery. Spring salon.
                    <br />Kyiv, Ukraine</div>
                </div>
                <div class="item">
                  <div class="what">SLAVA FROLOVA`s “Art Picnic” Exhibition
                    <br />‘Kilogram-Power-Kilometer’. The topic of
                    <br />the exhibition is “energy”.
                    <br />Kyiv, Ukraine</div>
                </div>
              </div>
            </div>
            <div class="nd-resume-block">
              <div class="l">DR</div>
              <div class="info">
                <div class="item">
                  <div class="year">2016</div>
                  <div class="what">National Academy of Arts. Ukraine. Kyiv
                    <br />“Ukrainian exhibition of fine arts”
                    <br />Kyiv, Ukraine</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nd-footer">
      <div class="container s-wrap">
        <div class="s-title s-contacts">Contacts</div>
        <div class="nd-note">
          <div class="footer-h">Important note</div>
          <div class="text dash-after">Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.</div>
        </div>
        <div class="nd-email">
          <div class="footer-h">SerdiukArt Studio</div>
          <a href="mailto:a.v.serdyk@gmail.com" class="mono">a.v.serdyk@gmail.com</a>
        </div>
        <div class="nd-contacts">
          <div class="footer-h">For availability and sales</div>
          <a href="mailto:studio@serdyukart.com" class="mono">studio@serdyukart.com</a>
          <br />
          <a href="tel:+380950112120" class="mono">+380 95 011 2120</a>
        </div>
      </div>
    </div>
    <div class="nd-footer-copy">
      <div class="container">
        <a href="images/perf.png" class="perf">
          <img src="images/perf.png" />
        </a>
        <div class="copy">serdyukart © 2016. All rights reserved</div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function() {}).call(this);
    </script>
  </body>
</html>

haml/about.haml
!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    #scrollbar
      .p
        .v
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one
            %a(href="index.html") Homepage
          .nd-menu-one.is-active
            %a(href="about.html") About
          .nd-menu-one  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .container.s-wrap
        .s-title.s-hshow Artistic statement
        .nd-about
          .nd-about-head
            .h-1
              The&nbsp;Surrealism and Sacred Eroticism
            .h-2
              in the Artworks of Oleksandr&nbsp;Serdiuk
          .nd-about-text
            .text-col
              %p In the Ukrainian fine art, Oleksandr Serdiuk is known to be a surrealist, conceptualist and a representative of Late Contemporary Art. His creative pursuits are so diverse, and his field of experimentation is so wide that it seems impossible to fit the painter's work in the conventional framework of a particular movement art critics could define. The artworks of Serdiuk contain inherent elements of symbolism, surrealism, magic realism, postmodernism, neo- avant-garde etc.

              %p Serdiuk's surrealistic scenes come out of his shift from the classical tradition of salon painting to depicting subconsciousness. The method chosen by the author is not accidental either. It demonstrates the elevation of spirit over matter, the connection between the Universe and a human being; it analyzes dreams, meditative states, the search for the divine Absolute and suggests a dialogue with classics and surrealists. The artist mostly works in the genres of Nu symbolic and surreal landscape, but he does not exclude his experiments with volume, creating installations and art objects.

              %p Oleksandr's surreal landscapes do not come off as aggressive, they are not a riot of color, and as a consequence, they do not put any pressure on the beholder. Scenic artist loops are designed in a calm, mostly blue-gray color scheme. Emotions, the original cause of Serdiuk'a creative plan, are hidden behind the symbols of nature monumental grandeur and conscious human serenity that result from his focusing on the inner world. Serdiuk's landscapes return their beholders to the magic realm of four elements: fire, water, earth and air. The artist does not put any emphasis on the color or contrast. Instead, he focuses on the texture, color tone, and composition. This is why his paintings are typically perceived reflexively.
            .text-col 
              %p The mythological theme felt in the artworks of Oleksandr Serdiuk appeals to the unconscious, which is encoded in the general system of artist's generalizations. The earliest images of collective experience called archetypes are no less important in his works. In a broad philosophical context, Oleksandr Serdiuk displays metaphors inherent in classical symbolism. He works with allegories, allusions, and emotions frozen in time.

              %p Each canvas expresses the freedom from narrow-mindedness, trying to follow the subtlest sensations, which are more characteristic to ancient civilizations, rather than modern humans. Serdiuk uses unusual painting materials in his artworks such as fabric, wood, and cardboard in order to triple the number of hidden meanings. His paintings are filled with many details, they often include a fantastic story while keeping a realistic painting technique.
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              %br/
              .nd-author
                .img 
                  %img(src="images/avtr.png")
                .name 
                  Oleksandr Serdiuk
                  %br/
                  2014
      .nd-newproj-wrap
        .container
          .nd-project-line
            .nd-project-item
              .nd-image
                %img(src="images/project-1.png")
             
            .nd-project-item
              .nd-image
                %img(src="images/project-2.png")
             
            .nd-project-item
              .nd-image
                %img(src="images/project-3.png")
          .cont-small
            .nd-divider 
            .nd-about-text
              .text-col
                %p
                  The artworks of Serdiuk are created in Contemporary Art genre. They reflect feelings of an individual living in the modern world and their current understanding of morality. The creativity of the artist is contemplative, it offers no radical solutions not being existential, and not calling to destruction or self-flagellation. On the contrary, it offers a plunge into the depths of a human soul. It should be noted that Serdiuk'a credo is Awareness. The artist admits that he is able to explain the nature of each image, color, and stroke, as, despite working with the irrational, 'rationality' of the artist is always switched on and is capable of finding capacious artistic expression.
              .text-col 
                %p
                  Oleksandr Serdiuk's Nu paintings are devoid of details and quite symbolic. This artistic technique, i.e. the lack of portretisation, excludes the outrageous, vulgar, pornographic, and immoral which is why a lot of contemporary artists like to use it. Serduk's experiment is on the verge of a revelation of Schiele and neo-tantric connection of male and female. The plasticity of nudity, which is not always embodied in natural but in elegant poses, evokes the memories of ancient statues, as the figures in Serduk's paintings can be effortlessly divided into individual components. The author makes a point not only of the beauty of the female body in its general excellence but also its physical attractiveness (as an integral part of it). With that being said, eroticism still has exclusively sacred character in Serdiuk's artworks, treating a woman as an object of knowledge and admiration.
      .nd-resume
        .cont-small.s-wrap
          .s-title.s-hshow RESUME
          .head Resume
          .nd-resume-blocks
            .nd-resume-block
              .l SE
              .info
                .item
                  .year
                    2004
                  .what
                    Kiev Modern Art Exhibition 
                    %br/
                    Aerography — First award Diploma
            .nd-resume-block
              .l RD
              .info
                .item
                  .year
                    2006
                  .what
                    INTERNATIONAL FESTIVAL OF
                    %br/
                    DOCUMENTARY FILMS
                    "CONTACT"— 
                    %br/
                    First award Diploma 
                    %br/
                    Art Director — Serdyuk Oleksandr
            .nd-resume-block
              .l YUK
              .info
                .item
                  .year
                    2009
                  .what
                    Grand Prix film festival “Kinoletopis”
                    %br/
                    Kiev Ukraine — First award
                    %br/
                    Art director — Serdyuk Oleksandr
                .item
                  .year
                    8 November 2009
                  .what
                    Exhibition "Autumn Podlaska", 
                    %br/
                    the Podlasie Opera and Philharmonic
                    %br/
                    Bialystok, Poland
                .item
                  .year
                    December 2009
                  .what
                    Polish Salon „Poznaj Zmiany 2009” 
                    %br/
                    Poznan, Poland

            .nd-resume-block
              .l OL
              .info
                .item
                  .year
                    2010
                  .what
                    Polish Salon “Poznaj Zmiany”
                    %br/
                    Warsaw, Poland
            .nd-resume-block
              .l EKS
              .info
                .item
                  .year
                    2011-2012
                  .what
                    The exhibition dedicated to the Earth’s
                    %br/
                    Day, Art Kvartira 
                    %br/
                    Kyiv, Ukraine
                .item
                  .year
                    2012
                  .what
                    Salon des Refuses
                    %br/
                    London, England 
                .item
                  .what
                    The article in ArtInform
                    %br/
                    Kyiv, Ukraine
            .nd-resume-block
              .l AN
              .info
                .item
                  .year
                    2014
                  .what
                    “Arka” Gallery. Spring salon.
                    %br/
                    Kyiv, Ukraine
                .item 
                  .what
                    SLAVA FROLOVA`s “Art Picnic” Exhibition
                    %br/ 
                    ‘Kilogram-Power-Kilometer’. The topic of 
                    %br/
                    the exhibition is “energy”.
                    %br/
                    Kyiv, Ukraine
            .nd-resume-block
              .l DR
              .info
                .item
                  .year
                    2016
                  .what
                    National Academy of Arts. Ukraine. Kyiv
                    %br
                    “Ukrainian exhibition of fine arts”
                    %br/
                    Kyiv, Ukraine



    .nd-footer
      .container.s-wrap
        .s-title.s-contacts Contacts
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      (function() {
       
      }).call(this);
     
