web/gallery.html
<!DOCTYPE html>
<html>
  <head></head>
  <title>SVA</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1280">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <body>
    <div id="scrollbar">
      <div class="p">
        <div class="v"></div>
      </div>
    </div>
    <div class="nd-header">
      <div class="container">
        <a href="index.html" class="nd-logo">
          <img src="images/logo.png" />
        </a>
        <div class="nd-menu">
          <div class="nd-menu-one">
            <a href="index.html">Homepage</a>
          </div>
          <div class="nd-menu-one">
            <a href="about.html">About</a>
          </div>
          <div class="nd-menu-one is-active">
            <a href="gallery.html">Gallery</a>
          </div>
          <div class="nd-menu-one">
            <a href="shop.html">Shop</a>
          </div>
        </div>
        <div class="nd-socials">
          <div class="title">Social networks</div>
          <div class="nd-socials-wrap">
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/facebook.png" />
              </a>
            </div>
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/behance.png" />
              </a>
            </div>
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/insta.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="cont-small s-wrap">
        <div class="s-title s-hgallery">Showcase</div>
        <div class="nd-gallery">
          <div class="page-heading nd-gallery-head">Gallery</div>
          <div class="nd-filters cf">
            <a href="#" class="nd-filters-one is-active">2016</a>
            <a href="#" class="nd-filters-one">2015</a>
            <a href="#" class="nd-filters-one">2014</a>
            <a href="#" class="nd-filters-one">2013</a>
            <a href="#" class="nd-filters-one">2012</a>
            <a href="#" class="nd-filters-one">2011</a>
            <a href="#" class="nd-filters-one">2010</a>
            <a href="#" class="nd-filters-one">2000X</a>
            <a href="#" class="nd-filters-one">1990X</a>
          </div>
          <div class="nd-gallery-projects">
            <div class="nd-project-item-wrap">
              <a href="gallery-item.html" class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-3.png" />
                  <div class="category">NYD</div>
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </a>
            </div>
            <div class="nd-project-item-wrap">
              <a href="gallery-item.html" class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-2.png" />
                  <div class="category">NYD</div>
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </a>
            </div>
            <div class="nd-project-item-wrap">
              <a href="gallery-item.html" class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-1.png" />
                  <div class="category">NYD</div>
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </a>
            </div>
            <div class="nd-project-item-wrap">
              <a href="gallery-item.html" class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-4.png" />
                  <div class="category">NYD</div>
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </a>
            </div>
            <div class="nd-project-item-wrap">
              <a href="gallery-item.html" class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-5.png" />
                  <div class="category">NYD</div>
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </a>
            </div>
            <div class="nd-project-item-wrap">
              <a href="gallery-item.html" class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-6.png" />
                  <div class="category">NYD</div>
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nd-pagination">
      <div class="cont-small">
        <a href="#" class="nd-pagination-num">1</a>
        <a href="#" class="nd-pagination-num is-active">2</a>
        <a href="#" class="nd-pagination-num">3</a>
      </div>
    </div>
    <div class="nd-footer">
      <div class="container s-wrap">
        <div class="s-title s-contacts">Contacts</div>
        <div class="nd-note">
          <div class="footer-h">Important note</div>
          <div class="text dash-after">Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.</div>
        </div>
        <div class="nd-email">
          <div class="footer-h">SerdiukArt Studio</div>
          <a href="mailto:a.v.serdyk@gmail.com" class="mono">a.v.serdyk@gmail.com</a>
        </div>
        <div class="nd-contacts">
          <div class="footer-h">For availability and sales</div>
          <a href="mailto:studio@serdyukart.com" class="mono">studio@serdyukart.com</a>
          <br />
          <a href="tel:+380950112120" class="mono">+380 95 011 2120</a>
        </div>
      </div>
    </div>
    <div class="nd-footer-copy">
      <div class="container">
        <a href="images/perf.png" class="perf">
          <img src="images/perf.png" />
        </a>
        <div class="copy">serdyukart © 2016. All rights reserved</div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function() {}).call(this);
    </script>
  </body>
</html>

haml/gallery.haml
!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280"> 
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    #scrollbar
      .p
        .v
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one
            %a(href="index.html") Homepage
          .nd-menu-one
            %a(href="about.html") About
          .nd-menu-one.is-active  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .cont-small.s-wrap
        .s-title.s-hgallery Showcase
        .nd-gallery
          .page-heading.nd-gallery-head
            Gallery
          .nd-filters.cf
            %a.nd-filters-one.is-active(href="#")
              2016
            %a.nd-filters-one(href="#")
              2015
            %a.nd-filters-one(href="#")
              2014
            %a.nd-filters-one(href="#")
              2013
            %a.nd-filters-one(href="#")
              2012
            %a.nd-filters-one(href="#")
              2011
            %a.nd-filters-one(href="#")
              2010
            %a.nd-filters-one(href="#")
              2000X
            %a.nd-filters-one(href="#")
              1990X
          .nd-gallery-projects
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-3.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-2.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-1.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-4.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-5.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-project-item-wrap
              %a.nd-project-item(href="gallery-item.html")
                .nd-image
                  %img(src="images/project-6.png")
                  .category
                    NYD
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm



      

    .nd-pagination
      .cont-small
        %a.nd-pagination-num(href="#")
          1
        %a.nd-pagination-num.is-active(href="#")
          2
        %a.nd-pagination-num(href="#")
          3

    .nd-footer
      .container.s-wrap
        .s-title.s-contacts Contacts
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      (function() {
       
      }).call(this);
     
