web/project.html
<!DOCTYPE html>
<html>
  <head></head>
  <title>SVA</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1280">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <body>
    <div id="scrollbar">
      <div class="p">
        <div class="v"></div>
      </div>
    </div>
    <div class="nd-header">
      <div class="container">
        <a href="index.html" class="nd-logo">
          <img src="images/logo.png" />
        </a>
        <div class="nd-menu">
          <div class="nd-menu-one">
            <a href="index.html">Homepage</a>
          </div>
          <div class="nd-menu-one">
            <a href="about.html">About</a>
          </div>
          <div class="nd-menu-one is-active">
            <a href="gallery.html">Gallery</a>
          </div>
          <div class="nd-menu-one">
            <a href="shop.html">Shop</a>
          </div>
        </div>
        <div class="nd-socials">
          <div class="title">Social networks</div>
          <div class="nd-socials-wrap">
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/facebook.png" />
              </a>
            </div>
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/behance.png" />
              </a>
            </div>
            <div class="nd-socials-one">
              <a href="#">
                <img src="images/insta.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="project-wrap">
        <div class="cont-small">
          <div class="nd-galleryitem nd-galleryitem_project">
            <div class="nd-galleryitem-info nd-galleryitem-info_title">
              <div class="h-wrap">
                <div class="hint category">BTS</div>
                <div class="h page-heading">Parts of the Whole</div>
              </div>
            </div>
            <div class="nd-project-line">
              <div class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-1.png" />
                </div>
                <div class="nd-info">
                  <span class="name">Part 1</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </div>
              <div class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-2.png" />
                </div>
                <div class="nd-info">
                  <span class="name">Part 2</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </div>
              <div class="nd-project-item">
                <div class="nd-image">
                  <img src="images/project-3.png" />
                </div>
                <div class="nd-info">
                  <span class="name">Part 3</span>
                  <div class="details">Canvas, oil, gold
                    <br />2016
                    <br />95x75 cm</div>
                </div>
              </div>
            </div>
            <div class="nd-galleryitem-info">
              <div class="p-v-wrap">
                <div class="p-v">
                  <div class="p">MATERIAL</div>
                  <div class="v">Canvas, oil, gold</div>
                </div>
                <div class="p-v">
                  <div class="p">YEAR</div>
                  <div class="v">2016</div>
                </div>
                <div class="p-v">
                  <div class="p">SIZE</div>
                  <div class="v">95x75 cm</div>
                </div>
                <div class="p-v">
                  <div class="p">Project</div>
                  <div class="v">
                    <a href="#">Parts of the whole</a>
                  </div>
                </div>
              </div>
              <div class="nd-galleryitem-descr">
                <div class="p-v-wrap">
                  <div class="p-v">
                    <div class="p">DESCRIPTION</div>
                    <div class="v">The theme of human striving for spiritual perfection is dominating in Oleksandr Serdiuk's artworks. That is why his paintings are deprived of literalness, thereby excluding any coverage of real events. He deliberately renounced from
                      the "trend", and focused on practical psychology setting the task to clarify the nature of psychological phenomena. The author encourages to take some time off from external stimuli and accept silence.</div>
                  </div>
                </div>
              </div>
              <div class="nd-galleryitem-share">
                <div class="p-v">
                  <div class="p">Share</div>
                  <div class="v">
                    <div class="nd-sharebtn-wrap">
                      <a href="#" class="nd-sharebtn">
                        <img src="images/share-fb.png" />Share via Facebook</a>
                    </div>
                    <div class="nd-sharebtn-wrap">
                      <a href="#" class="nd-sharebtn">
                        <img src="images/share-tw.png" />Share via Twitter</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nd-footer">
      <div class="container">
        <div class="nd-note">
          <div class="footer-h">Important note</div>
          <div class="text dash-after">Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.</div>
        </div>
        <div class="nd-email">
          <div class="footer-h">SerdiukArt Studio</div>
          <a href="mailto:a.v.serdyk@gmail.com" class="mono">a.v.serdyk@gmail.com</a>
        </div>
        <div class="nd-contacts">
          <div class="footer-h">For availability and sales</div>
          <a href="mailto:studio@serdyukart.com" class="mono">studio@serdyukart.com</a>
          <br />
          <a href="tel:+380950112120" class="mono">+380 95 011 2120</a>
        </div>
      </div>
    </div>
    <div class="nd-footer-copy">
      <div class="container">
        <a href="images/perf.png" class="perf">
          <img src="images/perf.png" />
        </a>
        <div class="copy">serdyukart © 2016. All rights reserved</div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function() {}).call(this);
    </script>
  </body>
</html>

haml/project.haml
!!! 5
%html
  %head
  %title SVA
  %meta(charset="utf-8")
   
  <meta name="viewport" content="width=1280"> 
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>

  %body
    #scrollbar
      .p
        .v
    .nd-header
      .container
        %a.nd-logo(href="index.html")
          %img(src="images/logo.png")
        .nd-menu 
          .nd-menu-one
            %a(href="index.html") Homepage
          .nd-menu-one
            %a(href="about.html") About
          .nd-menu-one.is-active  
            %a(href="gallery.html") Gallery
          .nd-menu-one  
            %a(href="shop.html") Shop
        .nd-socials
          .title 
            Social networks
          .nd-socials-wrap
            .nd-socials-one
              %a(href="#")
                %img(src="images/facebook.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/behance.png") 
            .nd-socials-one
              %a(href="#")
                %img(src="images/insta.png") 
    #content
      .project-wrap
        .cont-small
          .nd-galleryitem.nd-galleryitem_project
            .nd-galleryitem-info.nd-galleryitem-info_title
              .h-wrap
                .hint.category BTS
                .h.page-heading Parts of the Whole
            .nd-project-line
              .nd-project-item
                .nd-image
                  %img(src="images/project-1.png")
                .nd-info
                  %span.name Part 1
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
              .nd-project-item
                .nd-image
                  %img(src="images/project-2.png")
                .nd-info
                  %span.name Part 2
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
              .nd-project-item
                .nd-image
                  %img(src="images/project-3.png")
                .nd-info
                  %span.name Part 3
                  .details
                    Canvas, oil, gold
                    %br/
                    2016
                    %br/
                    95x75 cm
            .nd-galleryitem-info
              .p-v-wrap
                .p-v
                  .p MATERIAL
                  .v Canvas, oil, gold
                .p-v
                  .p YEAR
                  .v 2016
                .p-v
                  .p SIZE
                  .v 95x75 cm
                .p-v
                  .p Project
                  .v 
                    %a(href="#") Parts of the whole
              .nd-galleryitem-descr
                .p-v-wrap
                  .p-v
                    .p DESCRIPTION
                    .v The theme of human striving for spiritual perfection is dominating in Oleksandr Serdiuk's artworks. That is why his paintings are deprived of literalness, thereby excluding any coverage of real events. He deliberately renounced from the "trend",  and focused on practical psychology setting the task to clarify the nature of psychological phenomena. The author encourages to take some time off from external stimuli and accept silence.
              .nd-galleryitem-share
                .p-v
                  .p Share
                  .v 
                    .nd-sharebtn-wrap
                      %a.nd-sharebtn(href="#")
                        %img(src="images/share-fb.png")
                        Share via Facebook
                    .nd-sharebtn-wrap
                      %a.nd-sharebtn(href="#")
                        %img(src="images/share-tw.png")
                        Share via Twitter







      


    .nd-footer
      .container 
        .nd-note
          .footer-h
            Important note
          .text.dash-after
            Oleksandr is always open for new art dealer and exhibition place. Feel free to contact him about collaboration.
        .nd-email
          .footer-h
            SerdiukArt Studio
          %a.mono(href="mailto:a.v.serdyk@gmail.com") a.v.serdyk@gmail.com
        .nd-contacts
          .footer-h
            For availability and sales
          %a.mono(href="mailto:studio@serdyukart.com") studio@serdyukart.com
          %br/
          %a.mono(href="tel:+380950112120") +380 95 011 2120
    .nd-footer-copy
      .container
        %a.perf(href="images/perf.png")
          %img(src="images/perf.png")
        .copy serdyukart © 2016. All rights reserved




    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    %script 
      (function() {
       
      }).call(this);
     
